numpy
pandas==2.2.3
matplotlib==3.10.1
xarray==2025.3.1
pystac-client==0.8.6
stackstac==0.5.1
rasterio==1.4.3
scikit-learn==1.6.1
planetary-computer==1.0.0
folium==0.20.0
dask[distributed]==2024.12.1
